@*@model SqlAgentUIRunner.Models.BuildMessagesModel*@

@{
    ViewBag.Title = "Message Bus";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/serviceBus")
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<h2>Send Message to Bus</h2>
<fieldset>
    <legend>SprocRunner</legend>
    <div class="row">
        <div class="col-md-3">
            <select id="messageTypes" data-bind="options: messages, optionsCaption: 'Please Select', value: selectedMessageId"></select>
            <br />
            <br />

            <div data-bind="foreach: messageProperties, visible: messageTypeSelected">
                <span data-bind="text: description"></span>
                <input type="text" data-bind="value: value" />
                <br />
            </div>

        </div>
        <div class="col-md-9">
            <button type="submit" id="Select" class="btn btn-default" data-bind="click: sendMessage">Send Message</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="PropertyListDiv"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Back to List", "Index", "Home")
        </div>
    </div>
</fieldset>